<h1>Welcome To Shred Share</h1>
<div class='about'>
<h5>Shred Share is a place where winter lovers and travelers of all kinds can join together to help reduce our carbon footprint and cut down on traffic to and from popular ski destinations. We encourage the use of local public transit systems, being kind to your neighbor, and shredding the gnar!</h5>
<br>
<h5>Hope to see you out on the mountain! </h5>
<p>~The Shred Safe Team</p>
</div>
