
<section class='need_ride_button'>
  <%= link_to "Looking To Put My Junk In Your Trunk" %><br>
  <p>Need A Ride</p>
</section>


<section class='give_ride_button'>
  <%= link_to "I Need Cheeks In My Seats" %><br>
  <p>Give A Ride</p>
</section>
