@import "font-awesome-sprockets";
@import "font-awesome";

/*
 *= require font-awesome
 */
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ____________________________________ */
.field{
  padding: 10px;
}

.field label{
  margin: 0px 0px 1px;
}

.current-user-name{
  padding-top: 50px;
}

.year{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.image-circle-show{
  text-align: center;
  margin-top: 2px;
}

.current-user-name{
  text-align: center;
}

.container{
  text-align: center;
}

.current-user-name{
  test-align: center;
}
/* css for hamburger menu below */
body
{
  margin: 0;
  padding: 0;
  background-image: url("http://clipart-library.com/images_k/mountain-transparent/mountain-transparent-12.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;

  /* make it look decent enough */
  // background: white;
  color: #black;
  font-family: "Avenir Next", "Avenir", sans-serif;

  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a{
  color: black;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
   position: relative;
   // --------------------------may be optional
   // top: 50px;
   // left: 50px;

   // z-index: 1;
// ------------------------- may be optional
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}
/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;


  /* color for hamburger below */
  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -54px;
  padding: 50px;
  padding-top: 125px;
  padding-bottom: 160px;

  /* adjust padding-bottom to control lenght of menu */

  background-image: url("https://pccats.com/wp-content/uploads/2017/11/A83B6593-600x600.jpg");

  /* background: #ededed; */
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.nav-bar {
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  padding: 20px 55px 20px;
}

.fs-pencil-alt{
  position: relative;
}

.user-name{
  color: dodgerblue;
}

// css for trips/buttons/index
.ride-buttons{
  text-align: center;
}

.need_ride_button {
  display: inline-block;
  width: 400px;
  height: 75px;
  background-color: white;
  border: 2px solid black;
  box-shadow: 0 5px 0 black;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.need_ride_button:hover {
  background-color: whitesmoke;
  color:black;
}

.need_ride_button:active {
  box-shadow: none;
  top: 5px;
}

.give_ride_button {
  display: inline-block;
  width: 400px;
  height: 75px;
  background-color: white;
  border: 2px solid black;
  box-shadow: 0 5px 0 black;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.give_ride_button:hover {
  background-color: whitesmoke;
  color: black;
}

.give_ride_button:active {
  box-shadow: none;
  top: 5px;
}


// button for vehicle index page
.add-vehicle {
  display: inline-block;
  width: 200px;
  height: 55px;
  background-color: white;
  border: 2px solid black;
  box-shadow: 0 5px 0 black;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.add-vehicle:hover {
  background-color: whitesmoke;
  color: black;
}

.add-vehicle:active {
  box-shadow: none;
  top: 5px;
}

// user reviews
.reviews{
  text-align: center;
}

.review-card{
  overflow: scroll;
  background-color: white;
  width: 500px;
  height: 145px;
  border: 1px solid slategray;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.5;
filter: alpha(opacity=50);
  // position: relative;
}
